.btn btn-default{
    display: inline-block;
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color:deepskyblue;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}

.button1:hover {background-color: #3e8e41}

.button2{
    display: inline-block;
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color:red;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}

.button2:hover {background-color: #3e8e41}

