.leaderProfile{
    background-color:#39CCCC;
    color:white;
}


.leaderProfile img{
    border-radius:50%;
    margin-left:auto;
    margin-right: auto;
    display:block;   
    height:100px;  
}

.leaderProfile p{
    text-align: center;
    font-size:40px;
    font-weight: bold;
    font-family: 'Caveat Brush' ;   
}